name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build project
        run: echo "Build successful"

      - name: Run tests
        run: echo "Tests passed"
      - name: Notify Slack
        if: always()
        run: |
          curl -X POST -H 'Content-type: application/json' \
          --data '{"text":"CI Pipeline executed for devops-webapp"}' \
          ${{ secrets.SLACK_WEBHOOK }}
  